@model Domain.Entities.Packages;


<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">     
        <div class="modal-body">
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="CreatedBy" />   
            <input type="hidden" asp-for="IsActive" />           
            <div class="row">
                <div class="form-group col-lg-8">
                    <label style="margin-top: 10px; font-size: medium;" class="control-label mandatory">Price</label>
                    <input type="number" maxlength="13" style="margin-top:5px;" min="0" asp-for="TotalPrice" class="form-control" />
                    <span asp-validation-for="TotalPrice"></span>
                </div>               
            </div>
            <div class="row">
               <div class="form-group col-lg-4">
                    @if (Model.id == 0)
                    {
                        <label style="margin-top: 10px; font-size: medium;" class="control-label mandatory">Days Limit</label>
                        <input style="margin-top:5px;" maxlength="8" min="1" value="30" asp-for="DaysLimit" class="form-control" />
                        <span asp-validation-for="DaysLimit"></span>
                    }
                    else
                    {
                        <label style="margin-top: 10px; font-size: medium;" class="control-label mandatory">Days Limit</label>
                        <input style="margin-top:5px;" maxlength="8" min="1" asp-for="DaysLimit" class="form-control" />
                        <span asp-validation-for="DaysLimit"></span>
                    }
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn text-white" style="background-color: green">Save</button>
        </div>

    </div>
</div>
