@model IEnumerable<Domain.DTO.UserRolesDTO>

<div class="card mb-4">
    <div class="card-header">
        <div class="container-fluid px-0">
            <div class="row align-items-center position-relative">
                <div class="col-md-8 mb-4 mb-md-0">
                    <h5 class="mb-0">User Roles</h5>
                </div>
                <div class="col-md-4 text-md-end">
                    <button class="btn text-white" background-color: green; onclick="EditRecord(0, '/UserRoles/_Create','#CreateUserRoles','#UserRolesForm')"><i class="fa fa-plus" aria-hidden="true"></i> New Role</button>
                </div>
            </div>
        </div>
    </div> 
</div>
